---
import { Image } from "astro:assets";
import { type CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
---

<article
  class="flex m-2 overflow-hidden border border-gray-200 rounded-2xl shadow-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 flex-col self-stretch dark:bg-zinc-800 dark:border-none"
>
  <a href={`/blog/${post.slug}`}>
    <Image
      src={post.data.heroImage}
      alt={post.data.title}
      width={600}
      height={600 / 1.5}
      class="rounded-2xl shadow-xl aspect-thumbnail object-cover"
    />
  </a>

  <a href={`/blog/${post.slug}`} class="my-4 text-2xl font-bold text-center">
    {/* Post title */}
    {post.data.title}
  </a>

  <!--     <p class="text-zinc-500 text-2xl mb-9 line-clamp-2">
      {post.body}
    </p> -->
</article>
