---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import global_styles from "../components/globalstyles";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={`Auca - ${title}`} description={description} />
  </head>

  <body class={global_styles}>
    <Header />
    <!-- image -->
    {
      heroImage && (
        <Image
          width={720}
          height={360}
          src={heroImage}
          alt=""
          class="mx-auto py-5"
        />
      )
    }
    <main
      class="prose mx-auto max-w-3xl hover:prose-a:text-blue-500 prose-pre:bg-slate-100 dark:prose-invert dark:hover:prose-a:text-orange-500 dark:prose-pre:bg-slate-700 sm:prose-lg prose-code:text-orange-400 prose-code:.code-word-wrap px-8"
    >
      <article>
        <!-- title -->
        <h1 class="title">{title}</h1>
        <!-- date... -->
        <!-- <FormattedDate date={pubDate} />
        <!-- ...and updated date  -->
        <!-- { updatedDate && (  <div class="last-updated-on">  Last updated on <FormattedDate date={updatedDate} /> </div>
          )
        }
        <hr />
        <!-- chidren will go here under <slot> -->
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
